@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
#canvas1{
  position: absolute;
    width: 800px;
    height: 600px;
    border: 10px solid lightcyan;
    background: linear-gradient(to bottom, lightblue, darkblue, black);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.hidden{
    display: none;
}
#scrollWrapper {
position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;   /*  width */
  height: auto;  /*  height */
  margin: auto;
}
/* .scrollImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */
#scroll{
  transition: transform 0.6s ease;
  width: 80vh;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}
.scrollText {
 font-family: "VT323", monospace;
 font-size: 2rem;
 line-height: 1.5;
 padding: 40px 40px;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  top: 15%;          
  left: 10%;
  right: 10%;
  bottom: 15%;
  color: #2b2b2b;
  padding: 10px;
  overflow-y: auto;  
  z-index: 2;        /* keeps it above the parchment */
}


#scrollText a {
  color: goldenrod;
  text-decoration: none;
  /* font-weight: bold; */
  font-weight: 900;
  transition: color 0.3s ease;
}
#scrollText a:hover {
  color: white;
  text-shadow: 0 0 5px gold;
}

/*OUTER BACKGROUND*/
/* .basicPortfolio{
  width: 100%;
  height: 100%;
  --gradient-color-1: #001f3f;  
  --gradient-color-2: #0077b6;  
  --gradient-color-3: #00b4d8;  
  --gradient-color-4: #90e0ef;  
  z-index: 0;
} */

.typing-container{
  position: absolute;
  padding-top: 5px;
  padding-bottom: 10px;
  top: 0%;
  left: 50%;
  text-align: center;
  margin: 20px 0;
  transform: translateX(-50%);
  z-index: 9999;
}
#skipButton {
  display: inline-block;
  padding: 8px 12px;
  background: #111;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
  white-space: nowrap;
}

#skipButton:hover {
  background: #444;
  transform: scale(1.05);
}

.basicPortfolio{
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(to right,#001f3f,#0077b6, #00b4d8, #90e0ef);
}